* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navigation {
  width: auto;
}
body {
  font-family: Roboto, sans-serif;
}
.bar {
  background-color: #33292a;
}
nav {
  background-color: #33292a;
}
nav ul {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
}
nav li {
  padding: 10px;
  text-align: center;
}
a {
  text-decoration: none;
  color: white;
}
.icon {
  display: none;
  height: 35px;
  width: 30px;
  margin-left: auto;
  margin-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
}
.icon img {
  width: 100%;
  display: block;
}
@media (min-width: 756px) {
  .content-container {
    margin: auto;
  }
}

@media (max-width: 756px) {
  nav ul {
    display: none;
  }
  .icon {
    display: block;
  }
}
.pic_1 {
  background-image: url("images/images/scott-goodwill-y8Ngwq34_Ak-unsplash.jpg");
  background-position: center 100%;
  height: 600px;
  background-size: cover;
}
.pic_1text {
  color: white;
  font-size: 50px;
  position: absolute;
  right: 400px;
  bottom: 0px;
  text-align: right;
}
.content-container-assistant {
  margin: 0;
  position: relative;
}
@media (min-width: 768px) {
  .content-container-assistant {
    margin: auto;
  }
}
@media (max-width: 768px) {
  .pic_1text {
    color: white;
    font-size: 40px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    padding-bottom: 35px;
    padding-right: 35px;
  }
}

.wrapper_about_us {
  display: flex;
  gap: 20px;
  flex-direction: column;
  margin: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.text_about_us {
  margin: auto;
}
.about_us_pic {
  background-image: url(images/images/anneliese-phillips-uv4-vl3liKM-unsplash.jpg);
  background-position: center 100%;
  background-size: contain;
  background-repeat: no-repeat;
  height: 300px;
}
@media (min-width: 768px) {
  .wrapper_about_us {
    flex-direction: row;
    max-width: 850px;
    margin: auto;
  }
  .text_about_us {
    max-width: 400px;
    margin: auto;
  }
  .about_us_pic {
    background-image: url(images/images/anneliese-phillips-uv4-vl3liKM-unsplash.jpg);
    background-position: center 80%;
    width: 400px;
  }
}
/* what we do  */

.what-we-do-section {
  background-color: #33292a;
  color: white;
  padding: 100px 0;
}

.what-we-do-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.what-we-do-content h2 {
  font-size: 32px;
  text-align: center;
  margin: 10px;
}

.what-we-do-content p {
  text-align: center;
}

.icon-container {
  margin: 30px 0;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  flex-grow: 1;
}

.icon-wrapper {
  max-width: 150px;
  flex: 1 0 100px;
}

.icon_1 {
  width: 100%;
  padding: 30px;
}

.icon_1 img {
  width: 100%;
}

.text {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .icon-container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}

/* <!-- Our trips --> */
.content-container-1 {
  max-width: 850px;
  margin: 0;
  position: relative;
}
@media (min-width: 768px) {
  .content-container-1 {
    margin: auto;
  }
}
.our-trips-section {
  padding: 50px;
}
.gallery-content {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.gallery-item {
  width: calc(100% / 3 - 20px);
  height: 200px;
  margin: auto;
  background-size: cover;
  background-position: center;
}
@media (max-width:768px) {
.our-trips-text {
  height: 100px;
}
.gallery-content {
  gap: 10px;
}
.gallery-item {
  width: 100%;
}
}
.photo1 {
  background-image: url(images/images/simon-english-48nerZQCHgo-unsplash.jpg);
}
.photo2 {
  background-image: url(images/images/james-wheeler-ZOA-cqKuJAA-unsplash.jpg);
}
.photo3 {
  background-image: url(images/images/daniel-tseng-73lmMKhi2U8-unsplash.jpg);
}
.photo4 {
  background-image: url(images/images/holly-mandarich-UVyOfX3v0Ls-unsplash.jpg);
}
.photo5 {
  background-image: url(images/images/patrick-szylar-45bM3XGqnDE-unsplash.jpg);
}
.photo6 {
  background-image: url(images/images/chung-yee-tsang-wqxCKM0R6R8-unsplash.jpg);
}
.photo7 {
  background-image: url(images/images/julian-bialowas-ilkTnuMunP8-unsplash.jpg);
}
.photo8 {
  background-image: url(images/images/matej-drha-rbDzMcJsBkY-unsplash.jpg);
}
.our-trips-text {
  background-color: var(--light_gray);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-weight: bold;
}
/* Where do you want to go section */
.content-container-2 {
  max-width: 850px;
  margin: 0;
  position: relative;
}
@media (min-width: 756px) {
  .content-container-2 {
    margin: auto;
  }
}
.where_go_section {
  background-color: #644b4f;
  color: #f2f2f2;
  padding: 40px;
}
.where_go_wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.where_go_heading h2 {
  flex: 1;
  font-size: 32px;
  color: white;
  margin-right: 100px;
  width:100%
}
.where_go_content {
  flex: 2;
}
.where_go_text {
  padding-bottom: 25px;
}
.where_go_contact_us {
  padding-bottom: 25px;
}
/* Reviews */
.section_reviews {
  text-align: center;
  padding-bottom: 150px;
}
.reviews_heading {
  margin: auto;
  max-width: 300px;
  padding-top: 100px;
}
.reviews_text {
  padding-top: 20px;
}
.wrapper_reviews {
  display: flex;
  margin: auto;
}
.review {
  max-width: 400px;
  padding-top: 60px;
  margin: auto;
}
.review_pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.review_text {
  padding-top: 30px;
}
.review_name {
  padding-top: 30px;
}
.content-container {
  max-width: 850px;
  margin: 0;
  position: relative;
}
@media (max-width: 768px) {
  .wrapper_reviews {
    flex-direction: column;
    text-align: center;
  }
}
.photo_wrapper {
  display: flex;
  flex-wrap: wrap;

}
.photo_item {
  width: 100%;
  max-width: 50%;
  
  }

  .photoP {
    width: 100%;
    height: 100%;
  }

@media (max-width: 768px) {
 
  .photo_wrapper {
  flex-direction: column;
  /* flex-flow: wrap; */
  }

  .photo_item {
  margin: auto;
  max-width: 100%;
 
}
}

/* Zapati */
.bottom_end {
  background-color: #33292a;
  height: 200px;
  margin: auto;
}
.bottom_end_text_wrap {
  margin: auto;
  color: white;
}
.contact-end p {
  text-align: center;
  padding-top: 80px;
  text-decoration: underline;
  color: antiquewhite;
}
.content-container {
  max-width: 850px;
  margin: 0;
  position: relative;
}
.text {
  padding-top: 30px;
}
@media (min-width: 768px) {
  .content-container {
    margin: auto;
  }
}
